name: Docker Build & Test

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t myapp-test -f Dockerfile.dev .

      - name: Run tests inside container
        run: |
          docker run -e CI=true myapp-test npm run test
      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          application_name: my-app
          environment_name: My-app-env
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          existing_bucket_name: elasticbeanstalk-ap-south-1-039612858972
          region: ap-south-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip

